# macOS
.DS_Store

# Environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Local data and generated artifacts
**/data/
**/outputs/
**/models/

# Python cache
__pycache__/
*.pyc
*.pyo

# Misc
notes.md